<% if params.valid? %>
  <% if !movies_ready? %>
    <h1>Hamsters are working, give 'em a hot minute</h1>
    <script type="text/javascript">
      window.onload = function () { setTimeout(function () { console.log('hi'); window.location.reload(); }, 2000) }
    </script>
  <% else %>
    <p class="prelude">Cast overlap between</p>
    <h1 class="comparison">
      <%= movie1.name %>
      <span class="joiner">and</span>
      <%= movie2.name %>
    </h1>
    <p class="summary">(<%= overlap.count %> in common)</p>
    <%= render partial: 'movie_header' %>
    <% overlap.each do |row| %>
      <%= render partial: 'actor', locals: { row: row } %>
    <% end %>
    </p>
  <% end %>
<% else %>
  <h1><em>This doesn't look like anything to me.</em></h1>
<% end %>
